// Colour palette

// Brand
$brand-orange: #FF6600;
$brand-blue: #000099;

// Headings
$heading-blue: $brand-blue;

// Text

$text-grey: #333333;

// UI
$button-green: #00B200;
$button-grey: #f2f2f2;

$callout-blue: #2268AD;
$subscription-blue: #2940d0;


// Retina mega-query
$retina: "only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx)";

// Common images
$ajax-loader: image-url('ajax-loader.gif');
$rabo-direct-logo: image-url('rabo-direct-logo.png');

// global switches
$legacy-support: true;