.grey, .green {
  a{
    width: 260px;
    display: block;
    padding: 12px 20px;
    color: #00009b;
    position: relative;
    line-height: normal;
    text-align: left;
    @include myriad(100);
    @include rem-font(22);
    @include transition(background 250ms);



    &:hover {
      color: #00009b;
      background-color: darken(#f2f2f2, 5%);
    }
  }
}

.grey {
  a {
    background-color: #f2f2f2;
    &:before {
      content: '';
      position: absolute;
      top: 12px;
      right: 17px;
      @extend .icons-arrow-right;
    }
  }
}


.green a {
  @extend .green-button;
}

.green-button {
    width: 260px;
    display: block;
    padding: 12px 20px;
    position: relative;
    line-height: normal;
    text-align: left;
    font-weight: lighter;
    @include myriad(100);
    @include rem-font(22);
    @include transition(background 250ms);
    background: #00B200;
    color: #fff;
    &:hover {
      color: #fff;
      background-color: darken(#00B200, 5%);
    }
    &:before {
      content: '';
      position: absolute;
      top: 12px;
      right: 17px;
      @extend .icons-arrow-left;
    }
}


